<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<body>
<div layout:fragment="content" class="row justify-content-center">
    <div class="col-md-5">
        <h3 class="mb-4 text-center">Đăng nhập</h3>
        <form th:action="@{/login}" method="post">
            <div class="mb-3">
                <label class="form-label">Tài khoản</label>
                <input type="text" name="username" class="form-control" required/>
            </div>
            <div class="mb-3">
                <label class="form-label">Mật khẩu</label>
                <input type="password" name="password" class="form-control" required/>
            </div>
            <button class="btn btn-primary w-100" type="submit">Đăng nhập</button>
        </form>
    </div>
</div>
</body>
</html>
