<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<body>
<div layout:fragment="content">
    <h3>Danh sách giao dịch (Nhân viên)</h3>
    <table class="table">
        <thead><tr><th>#</th><th>Khách</th><th>Loại</th><th>Số tiền</th><th>Thời gian</th></tr></thead>
        <tbody>
        <tr th:each="t : ${transactions}">
            <td th:text="${t.transactionId}">1</td>
            <td th:text="${t.customerFullName}">Nguyen Van A</td>
            <td th:text="${t.type}">TOPUP</td>
            <td th:text="${t.amount}">2000000</td>
            <td th:text="${t.transactionDate}">03/10/2025</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
